.App {
  text-align: center;
}
.app__form {
  padding: 20px;
  position: fixed;
  bottom: 0px;
  z-index: 1;
  background-color: #e9e9eb;
  width: 100%;
  
  
}
.app__formControl {
  display: flex !important;
  flex-direction: row !important;
  width: 99% !important;
}
.app__iconButton {
  z-index: 1 !important;
  
}
.app__input {
  flex: 1 !important;
}